# OS files
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/

# Build outputs
public/
.quartz-cache/
tsconfig.tsbuildinfo
prof/

# Obsidian
.obsidian/
.file_sync_state.json

# Private content
private/

# Replit
.replit
replit.nix

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
